* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 92%;
  font-family: "Quicksand", sans-serif;
  color: rgb(255, 255, 255);
  background: #414141;
  /* background: -webkit-linear-gradient(
    to right,
    #26d0ce,
    #1a2980
  ); 
  background: linear-gradient(
    to right,
    #26d0ce,
    #1a2980
  );  */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
